<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="choice">
            <h2><span>Choice</span> {{choice.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>User</span></dt>
                <dd>
                    {{choice.user?.id}}
                </dd>
                <dt><span>Category</span></dt>
                <dd>
                    <div *ngIf="choice.category">
                        <a [routerLink]="['/category', choice.category?.id, 'view']">{{choice.category?.id}}</a>
                    </div>
                </dd>
                <dt><span>Nominee</span></dt>
                <dd>
                    <div *ngIf="choice.nominee">
                        <a [routerLink]="['/nominee', choice.nominee?.id, 'view']">{{choice.nominee?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/choice', choice.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
